
$hover-color: #B85C38;

$border-color: #c8c8c8;

$primary-color: #e07bab;

$primary-color-light: #dd4790;

$secondery-color: #292B31;

$secondary-color-light: #777E90;

$delivery-color: #85519d;

$footer-color: #ffffff;

$contrast-color: #ffffff;

$font-family: "Gotham Pro regular", sans-serif;

$font-family2: "Gotham Pro bold", sans-serif;

$logo: "Manrope", sans-serif;

$font-family3: 'Montserrat', sans-serif;