@import './fonts';
@import './variable';

.footer {
    margin-top: 120px;
    width: 100%;
    background-color: #1749B3;
    padding: 0 120px;
    position: relative;

    &__wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 12px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
            &:last-child {
                width: 179px;
                color: white;
                font-family: $font-family;
                font-size: 16px;
            }
        }

    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        margin-right: 55px;


        a {
            color: white;
            margin-left: 12px;
            font-family: $font-family;
            font-size: 16px;
        }
    }

    &__subscriptions {
        margin-right: 55px;
    }

    &-subscription__link {
        &:first-child {
            font-size: 18px;
            font-family: $font-family;
            margin-bottom: 20px;
        }

        a {
            color: white;
        }

        margin-bottom: 12px;
        font-size: 16px;

    }
    &__nav{
        margin-bottom: 40px;
    }
    &-nav__link {
        &:first-child {
            font-size: 18px;
            font-family: $font-family;
            margin-bottom: 20px;
        }

        a {
            color: white;
        }

        margin-bottom: 12px;
        font-size: 16px;

    }

    &-messengers-languages {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 55px;
    }

    &__messengers {

        display: flex;

        li:last-child {
            margin-left: 16px;
        }
    }

    &__languages {
        margin-top: 17px;
    }

    &__language {
        font-size: 17px;
        color: white;
        display: flex;
        align-items: center;

        img {
            margin-left: 3px;
        }
    }

    &__rights-policy {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            font-size: 16px;
            opacity: 0.5;
            color: #D3D3D3;
            font-family: $font-family;
        }
    }
    &__line-through{
        display: none;
    }

    @media screen and (max-width:1234px) {
        padding: 0 50px;
    }

    @media screen and (max-width:1023px) {
        margin-top: 100px;
        &__line-through{
            display: block;
        }
        &__logo {
            a {
                display: none;
            }
        }
    }

    &__line-through::before {
        content: '';
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(247, 247, 247, 0.50);
        position: absolute;
    }

    @media screen and (max-width:767px) {
        padding: 0 32px;
    }

    @media screen and (max-width:695px) {
        &-messengers-languages {
            width: 100%;
            margin-left: 0;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
            margin-bottom: 40px;
            align-items: flex-start;
        }
        &__nav{
            margin-bottom: auto;
        }

    }


    @media screen and (max-width:625px) {
        &__rights-policy {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 0;

            li:not(:first-child) {
                margin-top: 12px;
            }

            li:first-child {
                margin-top: 16px;
            }
        }
    }

    @media screen and (max-width:547px) {
        &__info {
            margin-right: 28px;
        }

        &__logo {
            margin-bottom: 12px;
            width: 100%;

            a {
                display: block;
            }
        }

        &__subscriptions {
            margin-right: 0;
        }

        &__nav {
            margin-top: 40px;
            margin-right: 28px;
        }

        &-messengers-languages {
            width: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            margin-bottom: 0px;
        }
    }

    @media screen and (max-width:492px) {
        &__logo {
            margin-right: 0;
        }
    }

    @media screen and (max-width:445px) {
        &__info {
            width: 100%;

            li:last-child {
                width: auto;
            }
        }
        &__subscriptions {
            margin-top: 40px;
            margin-right: 40px;
        }

        &__nav {
            transform: translateX(28px);
        }

        &-messengers-languages {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 40px;
            align-items: flex-start;

        }
    }

    @media screen and (max-width:417px) {
        &__logo {
            margin-right: 0;
        }

        &__nav {
            transform: none;
            margin-right: 0;
        }

    }

    @media screen and (max-width:374px) {
        &__info {
            margin-right: 0;
        }

    }

}