@import './_nullstyle';
@import './_fonts';
@import './_mixins';
@import './header.scss';
@import './NetflixPlan.scss';
@import './footer.scss';

#container{
    background-color: rgb(255, 200, 128);
    width: 100%;
    height: auto;
    padding: 0 120px;
}

//INVITE BLOCK/ It's the same for each page

.invite-block{
    background-color: #1749B3;
    box-shadow: 0px 4px 24px 0px rgba(213, 216, 221, 0.20);
    width: 100%;
    border-radius: 32px;
    display: flex;
    padding: 40px 80px;
    margin-top: 16px;
    justify-content: space-between;
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 508px;
    }
    &__title{
        margin-top: 4px;
        @include adaptive-font(26, 32);
        color: white;
        font-family: $font-family;
    }

    &__description{
        font-size: 16px;
        color: white;
        font-family: $font-family;
        line-height: 150%;
        margin-top: 16px;
    }

    &__discounts{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 27px 71px;
        background-color: #F1F4F8;
        border-radius: 16px;
        margin-left: 87px;
        a{
            color: #1749B3;
            @include adaptive-font(20, 18);
            font-family: $font-family;
            text-transform: uppercase;
            &:hover{
                text-decoration: underline;
            }
        }
        svg{
            vertical-align: bottom;
            margin-left: 8px;
        }
    }
    &-discounts__title{
        font-family: $font-family;
        @include adaptive-font(20, 18);
        color: #171717;
        margin-bottom: 10px;
    }

    @media screen and (max-width:1023px) {
        padding: 32px;
        &__title{
            font-size: 22px;
        }
        &__text{
            width: 275px;
        }
        &-discounts__title{
            font-size: 18px;
            margin-bottom: 12px;
        }
        &__discounts{
            padding: 20px 24px;
            a{
                font-size: 18px;
            }
            svg{
                margin-left: 21px;
            }
        }
    }
    @media screen and (max-width:599px) {
        flex-direction: column;
        padding: 32px 20px 20px 20px;
        &__title{
            margin-bottom: 16px;
        }
        &__text{
            width: 100%;
        }
        &__discounts{
            margin-left: 0;
            margin-top: 32px;
        }
    }
}

